* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom,
                                   #429489 0px, /*partenza gradient*/
                                   #429489 15vh, /* fino a...gradient*/
                                   #dcdbd3 15vh, /* partenza gradient */
                                   #dcdbd3 100vh /* fino a...gradient*/
                                   );
}

/***********************************************
*************  LAYOUT GENERAL *******
*********************************************** */

.app {
  width: 80%;
  min-width: 800px;
  height: 95%;
  display: flex;
}

.app .content-conversation {
  width: 65%;
  height: 100%;

}

.box-notification {
  height: 110px;
  width: 100%;
}

/***********************************************
******************  SIDEBAR ********************
*********************************************** */
.app .sidebar .header-sidebar a,
.app .content-conversation .your-icons a {
  color: rgba(177,177,177,1);
}


.app .sidebar {
  width: 35%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.app .sidebar .header-sidebar {
  display: flex;
  align-items: center;
  height: 100px;
}

.app .sidebar .header-sidebar .your-photo {
  width: 20%;
}

.app .sidebar img,
.app .content-conversation img {
  width: 70px;
  border-radius: 50px;
}

.app .your-icons {
  height: 100px;
  width: 80%;
  padding-top: 25px;
}

.app .your-icons .list-icon {
  display: flex;
  justify-content: flex-end;
}

.app .your-icons .list-icon li {
  list-style: none;
  padding: 0px 15px;
  cursor: pointer;
}

.app  .your-icons .list-icon li .fas:hover {
  opacity: .9;
}

.app .sidebar .sidebar-content {
  flex-grow: 1;
  background:white;
  overflow-x: auto;
}

/***********************************************
*************  box notification in sidebar *******
*********************************************** */

.app .sidebar-content .box-notification .bell-box {
  background: #fff;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.app .sidebar-content .box-search {
  display: flex;
  padding: 8px;
  background: #fafafa;
}

.app .sidebar-content .box-search #search-input
{
  flex-grow: 1;
  height: 36px;
  line-height: 36px;
  border: 1px solid #f5f5f5;
  border-left: 0;
  font-size: 14px;
  padding-left: 20px;
}

.app .sidebar-content .box-search .search-label {
  flex-basis: 80px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #f5f5f5;
  border-right: 0;
  color: rgb(177,177,177);
  text-align: center;
  background: #fff;
  outline: none;
  padding-left: 40px;
}


/***********************************************
*************  sidebar-conversation *************
*********************************************** */

.app .sidebar-content .box-conversation {
  border-bottom: .5px solid rgba(0,0,0, .2);
}

.app .sidebar-content .box-conversation:last-child {
  border-bottom: none;
}


.app .sidebar-content .box-conversation .conversation-review {
  flex-grow: 1;
}


.app .sidebar-content .box-conversation.active
{
  background: rgba(234,235,235,1);
}

/***********************************************
*************  layout content-conversation *****
*********************************************** */

.app .content-conversation .header-conversation {
  height: 100px;
}

.app .content-conversation .main-conversation {
  overflow-y: auto;
  background: url('../img/mine.jpg');
}

/***********************************************
*************  writing message layout  *******
*********************************************** */

.app .content-conversation .writing-message {
  background: #f2eeeb;
}

/***********************************************
*************  display single conversation *******
*********************************************** */
.app .content-conversation .last-access {
  flex-basis: 300px;
}

.app .main-conversation .message-list {

  display: flex;
  flex-direction: column;
  list-style: none;

}

.app .main-conversation li {
  max-width: 400px;
}

.app .main-conversation li.friends-message  {
  padding:20px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
  list-style: none;
  align-self: flex-start;
}

.app .main-conversation li.your-message {
  padding:20px;
  margin: 10px;
  background: #dcf8c0;
  border-radius: 10px;
  list-style: none;
  align-self: flex-end;
}

.app .main-conversation li.friends-message .absolute-time,
.app .main-conversation li.your-message  .absolute-time {

  font-size: .7em;
  color: rgb(177,177,177);
}

/***********************************************
*************  writing message specific  *******
*********************************************** */

.app .content-conversation .writing-message .record-message i.fa-paper-plane {
  display: none;
}


.app .content-conversation .writing-message .writing-favicon {
  width: 80px;
}

.app .content-conversation .writing-message .input-message {
  width: 100%;
  font-family: FontAwesome, 'Lato', sans-serif;;
  text-indent: 20px;
  outline: none;
}

.app .content-conversation .writing-message .record-message {
  width: 60px;
}




/**************************************************************
************************ TEMPLATE *****************************
*************************************************************** */

.template {
  display: none; /*segue jQuery */
}
