* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom,
                                   #429489 0px, /*partenza gradient*/
                                   #429489 15vh, /* fino a...gradient*/
                                   #dcdbd3 15vh, /* partenza gradient */
                                   #dcdbd3 100vh /* fino a...gradient*/
                                   );
}

/***********************************************
*************  LAYOUT GENERAL *******
*********************************************** */

.app {
  width: 80%;
  min-width: 800px;
  height: 95%;
  display: flex;
}

.app .content-conversation {
  width: 65%;
  height: 100%;

}

.box-notification {
  height: 110px;
  width: 100%;
}

img {
  max-width: 100%
}

/***********************************************
******************  SIDEBAR ********************
*********************************************** */

.app .sidebar {
  width: 35%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.app .sidebar .header-sidebar {
  display: flex;
  height: 100px;
}

.app .sidebar .header-sidebar .your-photo {
  width: 20%;
  height: 100%;
}

.app .sidebar img,
.app .content-conversation img {
  width: 70px;
  border-radius: 50px;
}

.app .your-icons {
  height: 100px;
  width: 80%;
  padding-top: 25px;
}

.app .your-icons .list-icon {
  display: flex;
  justify-content: flex-end;
}

.app .your-icons .list-icon li {
  list-style: none;
  padding: 0px 15px;
  cursor: pointer;
}

.app  .your-icons .list-icon li .fas:hover {
  opacity: .9;
}

.app .sidebar .sidebar-content {
  flex-grow: 1;
  background:white;
  overflow-x: auto;
}

/***********************************************
*************  box notification in sidebaf *******
*********************************************** */

.app .sidebar-content .box-notification .bell-box {
  background: #fff;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.app .sidebar-content .box-search .search-input {
  width: 100%;
  font-family: FontAwesome;
  text-indent: 60px;
  outline: none;
}


/***********************************************
*************  sidebar-conversation *************
*********************************************** */

.app .sidebar-content .box-conversation {
  border-bottom: .5px solid rgba(0,0,0, .2);
}

.app .sidebar-content .box-conversation:last-child {
  border-bottom: none;
}


.app .sidebar-content .box-conversation .conversation-review {
  flex-grow: 1;
}


.app .sidebar-content .box-conversation.active
{
  background: rgba(234,235,235,1);
}

/***********************************************
*************  layout content-conversation *****
*********************************************** */

.app .content-conversation .header-conversation {
  height: 100px;
}

.app .content-conversation .main-conversation {
  overflow-y: auto;
  background: url('../img/mine.jpg');
}

/***********************************************
*************  writing message layout  *******
*********************************************** */

.app .content-conversation .writing-message {
  background: #f2eeeb;
  height: 70px;
}

/***********************************************
*************  display single conversation *******
*********************************************** */

.app .content-conversation .main-conversation .friends-reply-message .reply-message {
  width: auto;
  max-width: 50%;
  min-height:30px;

}

.app .content-conversation .main-conversation .your-reply-message .reply-message {
  width: auto;
  max-width: 50%;
  min-width: 50%;
  min-height:30px;
  float: right;
}

.app .content-conversation .main-conversation .your-reply-message .reply-message .reply-text {

  float: right;
  background: #dcf8c0;
}

.app .content-conversation .main-conversation .reply-message .reply-text {
  width: auto;
  height: auto;
  min-height: 70px;
  max-width: 80%;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  background: #fff;

}

.app .content-conversation .main-conversation .time-to-reply {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 8px;
}


/***********************************************
*************  writing message specific  *******
*********************************************** */

.app .content-conversation .writing-message .writing-favicon {
  background: orange;
}

.app .content-conversation .writing-message .writing-message {
  
  background: yellow;
}

.app .content-conversation .writing-message .record-message {
  background: blue;
}


/**************************************************************
************************ TEMPLATE *****************************
*************************************************************** */

.template {
  display: none; /*segue jQuery */
}
